
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-share:before { content: '\e800'; } /* '' */
.icon-info:before { content: '\e804'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */